.main-title {
  padding-left: 30px;
  font-weight: bold;
  color: darkgreen;
}

.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.card {
  border-radius: 0.7rem !important; 
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: hsla(0,0%,100%,.8) !important;
  box-sizing: border-box;
  overflow: hidden !important;
  margin-left: 10px;
}

.camera-card {
  border-radius: 1.0rem !important;
  width: 25%;
  margin: 5% 0% -5% 2%;
}

.textarea {
  display: block;
  width: 90%;
  font-size: 1rem;
  color: #121313;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #9aadc0;
  border-radius: 0.25rem;
  border-style: solid;
  border-width: 3px;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out !important;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out !important;
}

#mic {
  background-color: transparent !important;
  border-color: transparent !important;
  outline: none !important;
  position: relative;
  float: right !important;
  color: #7373cd;
  margin: -80px 25px 0 0;
}

.message.from .chips {
  margin-left: -10px !important;
}

.timestamp {
  font-size: 0.8em;
  float: right;
  font-weight: normal;
  margin-top: -10px;
}

.noResponse {
  background-color: black !important;
  color: white !important;
  border-radius: 10px;
  margin: 0 15px 10px;
  padding: 15px 20px;
  position: relative;
  font-family: Calibri;
  font-weight: bold;
}

.suggestion {
  margin-top: 10px !important;
  float: left !important;
  margin-left: 10px !important;
  padding: 10px !important;
  border: 1.5px solid rgba(0,0,0,0.2) !important;
  border-radius: 50px !important;
  cursor: pointer !important;
  min-width: 50px !important;
  text-align: center !important;
  font-weight: bolder !important;
  font-family: cursive;
  background-color: #3d793d !important;
  color: #f5f5f5 !important;
  border-color: black !important;
}

  .suggestion:active {
    color: rgba(0,0,0,1) !important;
  }

  .suggestion:hover {
    color: #000000 !important;
    border: 1.5px solid #000000 !important;
  }

.bot-container {
  width: 70%; 
  border: none !important;
  margin-left: 10px;
}

.child-container {
  background-image: -webkit-linear-gradient(bottom, #a8edea 0%, #fed6e3 100%) !important;
}

.card.chat-room[_ngcontent-c1] img.avatar[_ngcontent-c1] {
  height: 3rem;
  width: 3rem;
  margin-top: 0px !important;
}

.card-body {
  background-image: -webkit-linear-gradient(bottom, #a8edea 0%, #fed6e3 100%) !important;
}

hr[_ngcontent-c4] {
  margin-top: 0 !important;
  margin-bottom: 0.5rem !important;
  border: black;
  border-style: double;
  border-color: #ffffff !important;
}

.hr-white {
  margin-top: 0 !important;
  margin-bottom: 0.5rem !important;
  border: black;
  border-style: double;
  border-color: #ffffff !important;
}

.text-muted-white {
  color: #f2f4f5 !important;
}

[_ngcontent-c1].mb-4, .my-4 {
  margin-bottom: 0.5rem !important;
}


.message-from-bot {
  border-radius: 10px;
  margin: 0 0 10px 0;
  font-family: Calibri;
  font-weight: bold;
  background-color: #632b53 !important;
  color: #ffffff !important;
  margin-right: 20%;
  width: 100%;
}

.message-from-user {
  border-radius: 10px;
  margin: 0 0 0 200px;
  width: 190%;
  font-family: Calibri;
  font-weight: bold;
  background-color: #869322 !important;
  color: #ffffff !important;
}


.message.from .chips {
  margin-left: -10px !important;
}

.chat-room .main-container .card {
  background-color: transparent !important;
  border: none !important;
}

.card.chat-room .members-panel-1,
.card.chat-room .chat-1 {
  position: relative;
  overflow-y: scroll; 
}

.card.chat-room .members-panel-1 {
  height: 570px;
}

.card.chat-room .chat-1 {
  height: 350px;
}

.card.chat-room .friend-list li {
  border-bottom: 1px solid #e0e0e0;
}

  .card.chat-room .friend-list li:last-of-type {
    border-bottom: none;
  }

.card.chat-room img.rounded-circle {
  border-radius: 50%;
}

.card.chat-room img.avatar {
  height: 3rem;
  width: 3rem;
}

.card.chat-room .text-small {
  font-size: 0.95rem;
}

.card.chat-room .text-smaller {
  font-size: 0.75rem;
}

.scrollbar-light-blue::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px;  
}

.scrollbar-light-blue::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

.scrollbar-light-blue::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #82B1FF;
}

.message-wrapper { 
  margin-right: -40px !important;
}

.message-content {
  float: right;
  width: 85%;
}

.message-header {
  float: left;
  margin: 4px -4px 0 -20px;
}

.cleared {
  clear: both;
}

.btnSend {
  border-radius: 10px;
  font-weight: bold;
  margin: -40px -7px 0 0;
  height: 37px;
  background-color: black !important;
  color: white !important;
}
