<app-standard>
  <div class="container">
    <div id="wrapper">        
      <div id="main" class="row">
        <div id="sidebar-lt" class="sidebar">
          <div class="widget static">
            <h2>Report Widget</h2>
            <p>Pie charts</p>
            <p>Graphs</p>
            <p>Percentage</p>
            <p>Summary</p>
            <p>Ratio</p>
            <p>Overall result</p>
          </div>                                       
        </div>
      </div>
    </div>
  </div>
</app-standard>
