<!-- <div class="navigation-component-container">
    <div class="header-bar">
        <h3>EY Debt Valuation</h3>>
        <div class="logged-user">
            <span>Admin</span>
            <span class="fa fa-chevron-down"></span>
        </div>
    </div>
    <div class="logoutBlock">
        <a (click)="logoutUser()">Logout</a>
    </div>

    <nav class="navbar navbar-inverse navbar-expand-lg">
        <a title="Home" class="navbar-brand" routerLink="/home">
            <img alt="Brand" src="assets/images/eyLogo-en.png">
        </a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav  mr-auto">
                <li class="nav-item">
                    <a href="https://share.ey.net/sites/EYGlobalBenchmarking/SitePages/Community%20Home.aspx" target="_blank" [ngClass]="{'active-menu': activeMenuItemId === 1}">LEARN</a>
                </li>
                <li class="nav-item">
                    <a class="disabled" *ngIf="nodes.analysisLoadActive == 'True'" (mouseenter)="onTabHover(0)" title="{{currentMessage}}" (mouseleave)="isHovered = false">BROWSE</a>
                </li>
                <li>
                    <a routerLink="/browse" *ngIf="nodes.analysisLoadActive != 'True'"
                       [ngClass]="{'active-menu': activeMenuItemId === 2}" (click)="closeVisualizationContainer()">BROWSE</a>

                </li>
                <li class="nav-item">
                    <a href="/Survey/Index" [ngClass]="{'active-menu': activeMenuItemId === 3}" *ngIf="userRoles.indexOf(2) > -1">SURVEY</a>
                </li>
                <li class="nav-item">
                    <a href="/Authorization/Index"  [ngClass]="{'active-menu': activeMenuItemId === 4}" *ngIf="userRoles.indexOf(1) > -1">ACCESS</a>
                </li>
                <li class="nav-item">
                    <a class="disabled" *ngIf="(nodes.dataLoadActive == 'True' && (userRoles.indexOf(4) > -1))" (mouseenter)="onTabHover(1)" title="{{currentMessage}}" (mouseleave)="isHovered = false">ADMIN</a>
                </li>
                <li class="nav-item">
                    <a href="/admin/index#admin-measure" *ngIf="(nodes.dataLoadActive != 'True' && (userRoles.indexOf(4) > -1))"
                       [ngClass]="{'active-menu': activeMenuItemId === 5}">ADMIN</a>
                </li>
            </ul>
        </div>
    </nav>

</div> -->


<div class="navigation-component-container">
    <div class="header-bar">
        <h3>Hexaware Interview Automation</h3>>
        <div class="logged-user">
            <span>Admin</span>
            <span class="fa fa-chevron-down"></span>
        </div>
    </div>
    <div class="logoutBlock">
        <a (click)="logoutUser()">Logout</a>
    </div>

    <nav class="navbar navbar-inverse navbar-expand-lg">
        <a title="Home" class="navbar-brand" routerLink="/home">
            <img alt="Brand" src="assets/images/eyLogo-en.png">
        </a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav  mr-auto">
                <li class="nav-item">
                    <a href="" >Dashboard</a>
                </li>
                <li class="nav-item">
                    <a href="" >Data Source</a>
                </li>
                <li class="nav-item">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Results <span class="glyphicon glyphicon-chevron-down pull-right-xs "></span></a>
                    <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a href="../pages/portfolio-1-col.html">1 Column Portfolio</a>
                            </li>
                            <li>
                                <a href="../pages/portfolio-2-col.html">2 Column Portfolio</a>
                            </li>
                            <li>
                                <a href="../pages/portfolio-3-col.html">3 Column Portfolio</a>
                            </li>
                            <li>
                                <a href="../pages/portfolio-4-col.html">4 Column Portfolio</a>
                            </li>
                            <li>
                                <a href="../pages/portfolio-item.html">Single Portfolio Item</a>
                            </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="" >Admin</a>
                </li>
            </ul>
        </div>
    </nav>

</div>