<app-standard>
  <div *ngIf="operationMode != true">
    <h3 class="main-title" style="padding-left:30px; width:80%">Manage Users</h3>
    <a class="btn btn-info btn-sm my-0 waves-effect btn-add-user" (click)="addUser()">
      <i class="fa fa-plus"></i>
      Add Candidate
    </a>
    <ag-grid-angular style="height: 300px; padding-left:30px; padding-right:30px; background-color:transparent;"
                     class="ag-theme-blue"
                     [enableSorting]="true"
                     [rowData]="rowData"
                     [columnDefs]="columnDefs"
                     (firstDataRendered)="onFirstDataRendered($event)"
                     (gridReady)="onGridReady($event)"
                     [pagination]="true"
                     [paginationPageSize]="paginationPageSize"
                     rowSelection='single'
                     [autoHeight]=true
                     [enableFilter]="true">
    </ag-grid-angular>
  </div>
  <div *ngIf="operationMode == true" class="add-section">
    <br /><br />
    <h3 style="font-weight:bold; color:darkgreen;">Add User</h3>
    <div class="form-row">
      <div class="col-md-3">
        <div class="md-form form-group">
          <i class="fa fa-user-circle-o prefix icon"></i>
          <input mdbInputDirective type="text" class="form-control" id="firstName" name="firstName" [(ngModel)]="user.firstName" required data-error="First name is required">
          <label for="firstName" class="label">First Name</label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="md-form form-group">
          <i class="fa fa-user-circle-o prefix icon"></i>
          <input mdbInputDirective type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="user.lastName" required data-error="Last name is required">
          <label for="lastName" class="label">Last Name</label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="md-form form-group">
          <i class="fa fa-envelope prefix icon"></i>
          <input mdbInputDirective type="email" class="form-control" id="email" name="email" [(ngModel)]="user.email" required data-error="Email is required">
          <label for="email" class="label">Email</label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="md-form form-group">
          <i class="fa fa-mobile prefix icon"></i>
          <input mdbInputDirective type="number" maxlength="10" class="form-control" id="mobile" name="mobile" [(ngModel)]="user.mobile" required data-error="Mobile number is required">
          <label for="mobile" class="label">Mobile Number</label>
        </div>
      </div>
      <br />
    </div>
    <div class="form-row">
      <div class="col-md-3">
        <div class="md-form form-group">
          <i class="fa fa-neuter prefix icon"></i>
          <select mdbInputDirective class="form-control select-control" id="genderSelect" name="genderSelect" [(ngModel)]="user.genderId" required data-error="Gender is required">
            <option *ngFor="let gender of genderSelect" [ngValue]="gender.id">
              {{gender.name}}
            </option>
          </select>
        </div>
      </div>
      <div class="col-md-3">
        <div class="md-form form-group">
          <i class="fa fa-id-card prefix icon"></i>
          <select mdbInputDirective class="form-control select-control" id="roleSelection" name="roleSelection" [(ngModel)]="user.roleId" required data-error="Role is required">
            <option *ngFor="let role of roleSelect" [ngValue]="role.id">
              {{role.name}}
            </option>
          </select>
        </div>
      </div>
      <div class="col-md-3">
        <div class="md-form form-group">
          <i class="fa fa-file prefix icon"></i>
          <input type="file" class="file-upload" id="resumeFileName" name="resumeFileName"
                 (change)="uploadFile($event)" accept=".pdf,.doc,.docx">           
        </div>
      </div> 
    </div>
    <br />
    <div class="form-row">
      <div class="col-md-4">
      </div>
      <div class="col-md-4 md-form form-group">
        <button class="btn btn-primary" (click)="onSave()">Save</button>
        <button class="btn btn-default" (click)="onCancel()">Cancel</button>
      </div>
      <div class="col-md-4">
      </div>
    </div>
    <br />
  </div>
  <br /><br />
</app-standard>
