<footer class="page-footer font-small cyan darken-3">
  <div class="footer-copyright text-center py-4">
    <div class="mb-5 flex-center">
      <a class="fb-ic">
        <mdb-icon icon="facebook" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
      </a>
      <a class="tw-ic">
        <mdb-icon icon="twitter" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
      </a>
      <a class="gplus-ic">
        <mdb-icon icon="google-plus" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
      </a>
      <a class="li-ic">
        <mdb-icon icon="linkedin" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
      </a>
    </div>
    <span>
      Copyright <span>
        &copy;
      </span> 2018 Hexaware Technologies Ltd. All rights reserved. For restricted use subject to our terms and conditions.
    </span>
  </div>             
</footer>       
