<div class="container-login100">
  <div class="login100-more" style="background-image: url('../../../assets/images/background.png');"></div>
  <div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">

    <span class="login100-form-title p-b-53">
      Sign In With
    </span>

    <a href="#" class="btn-google m-b-10">
      <img src="../../../assets/images/icon-google.png" alt="GOOGLE">
      Google
    </a>

    <a href="#" class="btn-face m-b-10">
      <img src="../../../assets/images/icon-facebook.png" width="30" height="30" alt="Facebook">
      Facebook
    </a>

  </div>
</div>
