<nav class="navbar fixed-top navbar-expand-md navbar-light white double-nav scrolling-navbar top-nav-collapse">
  <div class="mr-auto">
    <span class="d-none d-md-inline-block">
      <img src="../../../../assets/images/psv-logo.png" alt="PSV" style="height:50px;width:150px">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a [routerLink]='["/dashboard"]' class="btn btn-info btn-sm my-0 waves-effect cyan darken-3">
        <span class="d-none d-lg-inline-block mr-1">Dashboard</span>
        <i class="fa fa-tachometer"></i>
      </a>
      <a [routerLink]='["/interview-evaluation"]' class="btn btn-info btn-sm my-0 ml-3 waves-effect cyan darken-3">
        <span class="d-none d-lg-inline-block mr-1">Interview Evaluation</span>
        <i class="fa fa-graduation-cap"></i>
      </a>
      <a [routerLink]='["/manage-users"]' class="btn btn-info btn-sm my-0 ml-3 waves-effect cyan darken-3">
        <span class="d-none d-lg-inline-block mr-1">Manage Users</span>
        <i class="fa fa-user"></i>
      </a>         
      <a [routerLink]='["/interview-instruction"]' class="btn btn-unique btn-sm my-0 ml-3">
        <span class="d-none d-lg-inline-block mr-1">Talk to Laura</span>
        <i class="fa fa-android"></i>
      </a>
    </span>
  </div>

  <ul class="nav navbar-nav nav-flex-icons ml-auto">
    <li class="nav-item">
      <a href="mailto:marketing@hexaware.com" class="nav-link waves-effect">
        <i class="fa fa-envelope"></i><span class="sr-only">Contact us</span>
      </a>
    </li>
    <a id="navbar-static-login" class="btn btn-info btn-rounded btn-sm waves-effect cyan darken-3" (click)="logout()">
      Sign Out
      <i class="fa fa-sign-out ml-2"></i>
    </a>
  </ul>
</nav>
