<nav class="navbar fixed-top navbar-expand-md navbar-light white double-nav scrolling-navbar top-nav-collapse">
  <div class="mr-auto">
    <span class="d-none d-md-inline-block">
      <a id="navbar-category-tutorial-jquery" [routerLink]='["/dashboard"]' class="btn btn-info btn-sm my-0 waves-effect cyan darken-3" href="/bootstrap-tutorial/" role="button">
        <span class="d-none d-lg-inline-block mr-1">Dashboard</span>
        <i class="fa fa-tachometer"></i>
      </a>

      <a id="navbar-category-gettingstarted-jquery" [routerLink]='["/manage-users"]' class="btn btn-info btn-sm my-0 ml-3 waves-effect cyan darken-3" href="/getting-started/" role="button">
        <span class="d-none d-lg-inline-block mr-1">Manage Users</span>
        <i class="fa fa-user"></i>
      </a>

      <a id="navbar-category-gettingstarted-jquery" class="btn btn-info btn-sm my-0 ml-3 waves-effect cyan darken-3" href="/getting-started/" role="button">
        <span class="d-none d-lg-inline-block mr-1">Candidate Evaluation</span>
        <i class="fa fa-graduation-cap"></i>
      </a>

      <span id="dynamicContentWrapper-mainNavbar3">
        <a id="navbar-jquery-static-pro" [routerLink]='["/talk-to-laura"]' class="btn btn-unique btn-sm my-0" href="/material-design-for-bootstrap-pro/" role="button">
          <span class="d-none d-lg-inline-block mr-1">Talk to Laura</span><i class="fa fa-android"></i>
        </a>
      </span>
    </span>
  </div>

  <ul class="nav navbar-nav nav-flex-icons ml-auto">
    <li class="nav-item">
      <a href="/contact" data-toggle="modal" data-target="#contactForm" class="nav-link waves-effect">
        <i class="fa fa-envelope"></i><span class="sr-only">Contact us</span>
      </a>
    </li>
    <li id="navbar-static-support" class="nav-item ">
      <a href="/support/" class="nav-link waves-effect"><span class="clearfix d-none d-sm-inline-block">Support</span></a>
    </li>
    <a id="navbar-static-login" class="btn btn-info btn-rounded btn-sm waves-effect cyan darken-3" (click)="logout()">
      Sign Out
      <i class="fa fa-sign-out ml-2"></i>
    </a>
  </ul>
</nav>
