<div class="footer-holder">
    <!-- <div class="footer-content" [style.opacity]="showAdditionalFooterContent ? 1 : 0">
        <span>Internal redistribution rights: Information may be shared with EY globally.</span><br />
        <span>External redistribution rights: The benchmarking metrics licensed from APQC Open Standards Benchmarking Database</span><br/>
        <span> may be shared with clients as a part of a pursuit or engagement but cannot be sold directly to clients.</span>
    </div>
    <div class="footer-content" [style.display]="showAdditionalFooterContent ? 'block' : 'none'">
        <span>The following attribution must be used: "APQC OSM Benchmarking Data"./ Source: APQC.Date</span><br />
        <span>The citation must have the same font size as the metric, and never smaller than 8pt.</span>
    </div> -->
    <div class="footer-content">
        <span>Copyright <span>&copy;</span> 2018 Hexaware Technologies Ltd. All rights reserved.</span><br />
        <span>For restricted use subject to our terms and conditions.</span>
    </div>
</div>