<nav class="navbar fixed-top navbar-expand-md navbar-light white double-nav scrolling-navbar top-nav-collapse">
  <div class="mr-auto">
    <span class="d-none d-md-inline-block">
      <img src="../../../../assets/images/psv-logo.png" alt="PSV" style="height:50px;width:150px">
    </span>
  </div>
</nav>
<br /><br />
<div>
  <div class="row">
    <div class="col-md-12">
      <div class="card mdb-color lighten-2 text-center z-depth-2">
        <div class="end-coversation">
          <br />
          <br />
          <p class="white-text mb-0 end-coversation-message">
            This is it, you have successfully attempted all the sections. HR will get in touch with you shortly. Thank you.
          </p>
          <br />
          <br />
          <h3 class="mb-3 font-weight-bold">
            <strong>What's next:</strong>
          </h3>
          <p>
            <strong>Panel will evaluate questions and answers and submit feedback to HR</strong>
          </p>
          <p>
            <strong>You will also receive an email about the interview result</strong>
          </p>
          <p>
            <strong>Based on the interview result, next course of action wil be decided by HR</strong>
          </p>
          <br />
          <br />
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
